@model CredentialStorageWebsbor.Models.CredentialStorage.EditCredentialStorageViewModel

@{
    ViewData["Title"] = "Изменение учетных данных";
}

<div class="row justify-content-center">
    <div class="col-10 shadow p-3">
        <form asp-action="update" method="post">
            <p class="h3">Изменить запись</p>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <input asp-for="Id" class="visually-hidden"/>
                        <label asp-for="Name" class="form-label" title="Обязательное поле">Наименование<i class="text-danger">*</i></label>
                        <input asp-for="Name" class="form-control" title="Наименование организации"  required />
                    </div>
                    <div class="mb-3">
                        <label asp-for="OKPO" class="form-label" title="Обязательное поле">ОКПО<i class="text-danger">*</i></label>
                        <input asp-for="OKPO" class="form-control" title="ОКПО организации, не более 14 символов" required />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label" title="Обязательное поле">Пароль<i class="text-danger">*</i></label>
                        <input asp-for="Password" class="form-control" title="Пароль" required/>
                    </div>
                    <div class="mb-3">
                        <label asp-for="DateCreate" class="form-label">Дата создания записи</label>
                        <input asp-for="DateCreate" class="form-control" type="text" disabled/>
                    </div>
                    <div class="mb-3">
                        <label asp-for="UserCreate" class="form-label">Пользователь, создавший запись</label>
                        <input asp-for="UserCreate" class="form-control" disabled />
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label asp-for="DateCreate" class="form-label">Дата изменения записи</label>
                        <input asp-for="DateCreate" class="form-control" type="text" disabled />
                    </div>
                    <div class="mb-3">
                        <label asp-for="UserUpdate" class="form-label">Пользователь, изменивший запись</label>
                        <input asp-for="UserUpdate" class="form-control" disabled/>
                    </div>                    
                    <div class="mb-3">
                        <label asp-for="Comment" class="form-label">Примечание</label>
                        <textarea asp-for="Comment" class="form-control" style="height:210px;"></textarea>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>

